<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Amazon Automation test"> 
  <test name="amazon Regression Test" >
    <classes>
      <class name="com.Amazon.qa.Test.homePageTest"></class>
      <class name="com.Amazon.qa.Test.LoginPageTest"></class>
      
    </classes>
 </test>
</suite>